.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        =current_user.name
      .top-items__icoms 
        = link_to new_group_path(current_user) , class: "top-items__icoms__new" do
          = icon('far','edit')
        = link_to edit_user_path(current_user),class: "top-items__icoms__settings" do
          = icon('fas','cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-preview
        = link_to group_messages_path(group), class: "group-preview__box" do
          .group-preview__name
            = group.name
          .group-preview__text
            = group.show_last_message


-# .SideBar
-#   .LeftHeader
-#     .LeftHeader__list
-#       %h3.LeftHeader__userName
-#         = current_user.name
-#       %ul.LeftHeader__iconList
-#         %li.LeftHeader__Icon
-#           = link_to new_group_path do
-#             = icon('fas', 'edit')
-#         %li.LeftHeader__Icon
-#           = link_to edit_user_path(current_user) do
-#             = icon('fas', 'cog')
-#   .GroupList
-#     - current_user.groups.each do |group|
-#       .Group
-#         = link_to '#' do
-#           .Group__name
-#             = group.name
-#           .Group__message
-#             メッセージはまだありません