.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        =current_user.name
      .top-items__icoms 
        = link_to '#', class:"icoms_a" do
          = icon('far','edit')
        = link_to edit_user_path(current_user) do
          = icon('fas','cog')
  .side-bar__group-list
    .group-preview
      = link_to '#' do
        .group-preview__name
          グループ名
        .group-preview__text
          最新のメッセージ


-# .SideBar
-#   .LeftHeader
-#     .LeftHeader__list
-#       %h3.LeftHeader__userName
-#         = current_user.name
-#       %ul.LeftHeader__iconList
-#         %li.LeftHeader__Icon
-#           = link_to '#' do
-#             = icon('fas', 'edit')
-#         %li.LeftHeader__Icon
-#           = link_to edit_user_path(current_user) do
-#             = icon('fas', 'cog')
-#   .GroupList
-#     .Group
-#       = link_to __text
-#         .Group__name
-#           グループ名
-#         .Group__message
-#           最新のメッセージ